/* from http://www.phdpages.com/ */

/* 
Root variables https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root{
  --color-black: #000000;
  --color-light-grey: #f0f0f0;
  --color-dark-grey:  #9e9e9e;
  --color-highlight: #b6a9bd;
  --color-dark-highlight:#705380;
  --color-slides: #ececec;
  --measurement: 2px;
}




/*
    Possible Colors:
    #283593 
    #FFBD8D
    #93869a
*/


html {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.87);
  /* background-color: #f8f8ff; */
}

.col-xs-12 {
  width: 100%;
}

/* Change Boostrap Container Width */
@media (min-width: 544px) {
  .container {
    width: 552px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 752px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 972px;
  }
} 


/* hr space */

.space-sm {
  min-height: 12px;
  border: none;
}

.space-md {
  min-height: 24px;
  border: none;
}

.space-lg {
  min-height: 48px;
  border: none;
}

.space-xl {
  min-height: 96px;
  border: none;
}



/* App Header */

.app-header {
  padding-top: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .app-header {
    height: 80px;
  }
}

@media (min-width: 992px) {
  .app-header {
    height: 80px;
  }
}

/* App Home (Kyle F. Butts) */

/* Image */
.app-home-image img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .app-home-image img {
    width: 90%;
  }
}


/* Text */
.app-home-text {
  position: relative;
  line-height: normal;
  font-size: 20px;
  padding-top: 48px;
}

@media (min-width: 768px) {
  .app-home-text {
    padding-top: 48px;
    padding-left: 96px;
  }
}

@media (min-width: 992px) {
  .app-home-text {
    padding-top: 144px;
    padding-left: 96px;
  }
}

.app-home-text h1 {
  margin-top: -8px;
  margin-bottom: -8px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-family: 'Merriweather', serif;
}

@media (min-width: 768px) {
  .app-home-text h1 {
    margin-top: -8px;
    margin-bottom: -8px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
  }
}

@media (min-width: 992px) {
  .app-home-text h1 {
    margin-top: -8px;
    margin-bottom: -8px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
  }
}

.app-home-text h1>a,
.app-home-text h1>a:hover,
.app-home-text h1>a:active,
.app-home-text h1>a:visited {
  color: inherit;
  border-bottom: none;
  text-decoration: none;
}


.app-home-text h1 .name {
  text-decoration: none;
  background: repeating-linear-gradient(180deg, transparent, transparent 34px, var(--color-highlight) 34px, var(--color-highlight) 38px, transparent 38px, transparent);
}

@media (min-width: 768px) {
  .app-home-text h1 .name {
    text-decoration: none;
    background: repeating-linear-gradient(180deg, transparent, transparent 43px, var(--color-highlight) 43px, var(--color-highlight) 47px, transparent 47px, transparent);
  }
}

@media (min-width: 992px) {
  .app-home-text h1 .name {
    text-decoration: none;
    background: repeating-linear-gradient(180deg, transparent, transparent 43px, var(--color-highlight) 43px, var(--color-highlight) 47px, transparent 47px, transparent);
  }
}



/* Section Header */

.row.section-header {
  display: block;
  border-bottom: 2px solid var(--color-highlight);
  padding-bottom: 0px;
  margin-bottom: 8px;
  font-family: 'Lato', serif;
  font-size: 14px;
  line-height: 6px;
}
.row.section-header > h2 {
  display: block;
  text-align: center;
}

/* Unit */
.unit {
  padding: 16px 0;
}
.unit-title {
  padding: 8px 0;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
.unit-byline {
  font-style: italic;
}
.unit-title-sm {
  padding: 8px 0;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
.unit-title i, 
.unit-title-sm i {
  font-style: italic;
  font-weight: normal;
} 
 
.unit-links {
  padding: 16px 0;
}
.unit-links .app-chip {
  margin-right: 8px;
}

/* "Chip" for Links */

.app-chip {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-decoration: none;

  padding: 8px 12px;
  background-color: var(--color-light-grey);
  color: black;

  border: 2px solid var(--color-light-grey);
  cursor: pointer;
  position: relative;

  transition: all 0.15s linear;
  transition-property: all;
}

.app-chip:hover {
  background-color: var(--color-dark-grey);
  border: 2px solid var(--color-dark-grey);
}


.unit-links .app-chip:before, .unit-links .app-chip:after {
  content: '';
  position: absolute;
  transition: all 0.15s ease-in-out;
}


/* Font Awesome icons */
.app-chip>.fa,
.app-chip>.fab,
.app-chip>.far,
.app-chip>.fas {
  padding-right: 4px;
}
.app-chip>.fa-caret-down, .app-chip>.fa-caret-up {
  padding-left: 8px;
}

.app-chip:hover,
.app-chip:active,
.app-chip:visited,
a.app-chip:hover,
a.app-chip:active,
a.app-chip:visited {
  color: black;
}


/* Links */


.app-link,
.app-link:hover,
.app-link:visited {
  color: inherit;
  border-bottom: none;
  text-decoration: none;
}

.app-link {
  background-image: linear-gradient(120deg, var(--color-highlight) 0%, var(--color-highlight) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.15s ease-in;

  font-size: 20px;
  padding: 8px 4px;
}

.app-link:hover {
  background-size: 100% 100%;
}




/* Research */

.research {
  padding: 16px 0;
}

/* General Sibling: all but first research block */
.research ~ .research {
  border-top: 2px solid var(--color-light-grey);
  margin-top: 32px;
}

.research-title {
  padding: 8px 0;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.research-box {
  padding: 8px 16px;
  background-color: var(--color-slides);
  margin-top: 16px;
}

@media (min-width: 768px) {
  .research-box {
    padding: 8px 32px;
  }
}

.research-box span {
  display: block;
  font-weight: bold;
  margin-top: 16px;
  font-family: 'Merriweather', serif;
}

.research-box img {
  display: block;
  width: 100%;
}


.inline-pdf {
  width: 100%;
  height: 600px;
}

@media (min-width: 768px) {
  .inline-pdf {
    height: 800px;
  }
}



/* Teaching */

.teaching {
  padding: 16px 0;
}

.teaching-title {
  padding: 8px 0;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.teaching-title>i {
  font-weight: normal;
  font-style: italic;
}


.teaching-link {
  padding: 16px 0;
}

/* Resources */

.hidden {
  display: none;
}

.full-width-text {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}

.half-width-box {
  display: block;
  width: 50%;
  padding: 16px;
}

.half-width-text {
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 48px;
}


.pdf {
  height: 500px;
}

@media (min-width: 768px) {
  .pdf {
    height: 800px;
  }
}


